node_modules
.DS_Store
*.log
.vscode
.idea
dist
compiled
.awcache
.rpt2_cache
docs
pratices
.env
.env*
venv
.ipynb_checkpoints
*.csv
*.jpg
*.png
*.jpeg
dataset
*_data
*.pth
data/
mnist/
MNIST/
*.pkl
cifar-10-batches-py/
*.pt
TEST/
TRAIN/
datasets/
apple2orange/
hit_stopword
dict
*.txt